<div id='container' tabindex="0" ng-keydown="keyHandler($event)">
  <div class='navigation'>
  <a href="#/signin" ng-click='signout()' class='logout'>Logout</a>
  </div>
  <div class="stats">{{username}}: {{worldLoc.x}}, {{worldLoc.y}}<!--<br>stuff<br><div class="stats" ng-repeat="(key, value) in playerStuff track by $index"><p>{{key + ': ' + value}}</p><br></div>--></div>
  <div><h1><br><br> </h1>
    <div class="world" ng-repeat="dats in stringyMap track by $index">{{dats}}
      </div>
    </div>
    <div class="orders"><h1>{{message}}</h1></div>

  </div>

<!---    <div class="visits"><span class="count">{{ link.visits }} Visits</span></div>
    <img src="../assets/redirect_icon.png"></img>
    <span class='title'>{{ link.title }}</span><br/>
    <span class='original'>{{ link.url }}</span><br/>
    <a href=http://localhost:8000/{{link.code}}>http://www.shortlify.com/{{ link.code }}</a><br/> -->